@charset "UTF-8";

* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  font-family: sans-serif;
} */

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  /* background-color: red; */
}

.product-img {
  float: left;
  margin-right: 40px;
  margin-top: 30px;
}

/* .container {
  width: 825px;
  margin: 30px auto;
} */

/*PRODUCT*/
article.product {
  border: 3px solid #000;
  width: 825px;
  margin: 30px auto;
  position: relative;
}

article h2::after {
  content: "SALE";
  background-color: rgb(250, 6, 6);
  font-size: 16px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: -35px;
  top: -20px;
}

h2.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 0px auto;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: justify;
}

/*PRODUCT INFORMATION*/

.product-info {
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 40px;
}

.price {
  font-size: 24px;
  float: left;
}

.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.link-more-information:link,
.link-more-information:visited {
  color: #000;
}

.link-more-information:hover,
.link-more-information:active {
  text-decoration: none;
}

.div-box {
  margin: 20px 0;
}

.black-box {
  width: 25px;
  height: 25px;
  background-color: #000;
  display: inline-block;
  margin-right: 10px;
}

.blue-box {
  width: 25px;
  height: 25px;
  background-color: rgb(13, 13, 198);
  display: inline-block;
  margin-right: 10px;
}

.red-box {
  width: 25px;
  height: 25px;
  background-color: rgb(242, 9, 9);
  display: inline-block;
  margin-right: 10px;
}

.yellow-box {
  width: 25px;
  height: 25px;
  background-color: rgb(237, 237, 6);
  display: inline-block;
  margin-right: 10px;
}

.green-box {
  width: 25px;
  height: 25px;
  background-color: rgb(3, 135, 3);
  display: inline-block;
  margin-right: 10px;
}

.brown-box {
  width: 25px;
  height: 25px;
  background-color: rgb(168, 38, 38);
  display: inline-block;
}

/*PRODUCT DETAILS*/

.product-details {
  width: 243px;
  float: left;
  margin-top: 10px;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin: 30px 0 15px 0;
}

/* ul {
  margin-left: 50px;
  margin-bottom: 20px;
} */

.details-list {
  list-style: square;
  margin: 0 0 10px 20px;
}

.details-list li {
  /* line-height: 1.8; */
  margin-bottom: 10px;
}
.add-cart {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border-top: 4px solid #000;
}

/*BUTTON*/
.add-cart:hover {
  background-color: #fff;
  color: #000;
}
